# Domain
DOMAIN_NAME=login.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser

# WordPress
WP_ADMIN_USER=wpadminuser
WP_ADMIN_EMAIL=wpadmin@student.42.fr
WP_USER=editor
WP_USER_EMAIL=editor@student.42.fr
WP_PATH=/var/www/html

# Persistent data paths
MYSQL_VOLUME_PATH=/home/login/data/mariadb
WORDPRESS_VOLUME_PATH=/home/login/data/wordpress